* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 1%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}

.right {
    width: 20vw;
    height: 100vh;
}
.left{
    width: 80vw;
    height: 100%;
}